@model QueryAggregator.Core.Domain.Query

@{
    ViewBag.Title = "Home Page";
}

<h1>Results for: hello</h1>

@foreach (var link in Model.Links)
{
<article>
    <h3>
        <a href="@link.Url">@link.Title</a>
    </h3>
    <p>
        @link.Description
    </p>
    <hr/>
</article>
}