@model QueryAggregator.Core.Domain.Query

@{
    ViewBag.Title = "Links";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Results for: <strong>@Model.QueryString</strong></h2>
<hr/>

@foreach (var link in Model.Links)
{
    var description = link.Description ?? "No Description";

    <div>
        <h4><a href="@link.Url" target="_blank">@link.Title</a></h4>
        <p>@description</p>
        <hr/>
    </div>
}